
li {
    list-style: none;
}

html {
    background: #e8ecf4;
    //font-size: 62.5% !important;
    -ms-text-size-adjust: 100%; /* 4 */
    -webkit-text-size-adjust: 100%; /* 5 */
}

html, body {
    min-height: 100%;
}
